<nav class="fedlab-header-nav">
    <ul class="fedlab-header-nav-list">
        <li class="fedlab-header-nav-item current">
            <a href="/">首页</a></li>
        <li class="fedlab-header-nav-item">
            <a href="/content.html">文档</a>
        </li>
        <li class="fedlab-header-nav-item">
            <a href="/about.html">我们</a>
        </li>
    </ul>
</nav>